/target/classes/com/user/util/BeanLifecycleComponent.class
/target/classes/com/user/bean/User.class
/target/classes/com/user/UserController1.class
/target/classes/com/user/UserController2.class
/target/classes/com/user/UserController5.class
/target/classes/com/user/UserControllerA.class
/target/classes/com/user/UserControllerB.class
/target/classes/com/user/bean/UserProvider.class
