<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">
    <beans>
        <bean id="user" name="userBean" class="com.model.UserBean"/>
        <bean id="user1" name="userBean1" class="com.model.UserBean"/>
    </beans>

</beans>
